name: Daily Penpot Regression Tests on PRE
on:
  schedule: ## run tests at 01:00am UTC on every day-of-week from Monday through Friday
    - cron: '00 1 * * 1-5'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tests_chromium:
    defaults:
      run:
        shell: bash
    environment: PRE
    timeout-minutes: 400
    runs-on: windows-2022
    env:
      TZ: Europe/Madrid
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Playwright Environment
        uses: ./.github/actions/setup-playwright

      - name: Run Playwright tests
        id: run-tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
          SECOND_EMAIL: ${{ secrets.SECOND_EMAIL }}
          LOGIN_PWD: ${{ secrets.LOGIN_PWD }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          GMAIL_NAME: ${{ secrets.GMAIL_NAME }}
          GMAIL_DOMAIN: ${{ secrets.GMAIL_DOMAIN }}
          STRIPE_SK: ${{ secrets.STRIPE_SK }}
        run: npx playwright test --project=chrome --grep-invert  'PERF'

      - name: Generate and Upload Reports
        uses: ./.github/actions/upload-reports
        with:
          browser-name: 'Chrome'
          artifact-name: 'playwright-report-chromium'
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          testdino_api_key: ${{ secrets.TDPW_API_KEY }}
        if: always()

      - name: Send Mattermost Notification
        uses: ./.github/actions/send-notification
        with:
          browser-name: 'Chrome'
          channel-id: ${{ secrets.CHANNEL_ID }}
          login-id: ${{ secrets.LOGIN_ID_MATTERMOST }}
          password: ${{ secrets.PASSWORD_MATTERMOST }}
        if: always()
        continue-on-error: true
